body, html{
   height:100%;
   margin:0;
   font-size:16px;
   font-family:"Lato", sans-serif;
   font-weight:400;
 line-height:1.8em;
 color:blue;
 background-color: yellow;
}
.topnav{
    overflow:hidden;
    background-color: white;
}
.topnav a {
    display:inline;
    color:green;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
.topnav a:hover{
    background-color: red;
}
.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url("image1.jpeg");
    min-height: 100%;
}

.pimg2 {
    background-image: url("image2.jpeg");
    min-height: 400px;
}

.pimg3 {
    background-image: url("image3.jpeg");
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: black;
    color: blue;
}

.section-dark {
    background-color: white;
    color: orange;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: brown;
    color: green;
    padding: 20px;
}

.ptext .border .trans {
    background-color: transparent;
}

@media(max-width:568px) {

    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;